<!-- app-calender.component.html -->
<app-navbar></app-navbar>
<div class="btn-group mb-3">
  <div class="btn1">
    <button class="btn btn-primary" (click)="previousMonth()">Previous Month</button>
    <button class="btn btn-primary" (click)="today()">Present Month</button>
    <button class="btn btn-primary" (click)="nextMonth()">Next Month</button>
  </div>
 
  <div class="btn2"> <button class="btn btn-secondary" (click)="setView(CalendarView.Month)">Month</button>
    <button class="btn btn-secondary" (click)="setView(CalendarView.Week)">Week</button>
    <button class="btn btn-secondary" (click)="setView(CalendarView.Day)">Day</button></div>
 
</div>

<mwl-calendar-month-view
  *ngIf="view === CalendarView.Month"
  [viewDate]="viewDate"
  [events]="events"
  [refresh]="refresh"
  (dayClicked)="dayClicked($event)"
  (beforeViewRender)="beforeMonthViewRender($event)">
</mwl-calendar-month-view>


<mwl-calendar-week-view
  *ngIf="view === CalendarView.Week"
  [viewDate]="viewDate"
  [events]="events">
</mwl-calendar-week-view>

<mwl-calendar-day-view
  *ngIf="view === CalendarView.Day"
  [viewDate]="viewDate"
  [events]="events">
</mwl-calendar-day-view>
