
<app-navbar></app-navbar>
<div class="container">
  <form class="form" (ngSubmit)="onSubmit()" #todoForm="ngForm">
    <p class="form-title">Enter the Tasks To Do</p>
    <div class="input-container">
      <input type="text" [(ngModel)]="todoDetails.title" name="title" required placeholder="Enter title" />
    </div>
    <div class="input-container">
      <p>Start Date</p>
      <input type="date" [(ngModel)]="todoDetails.startdate" name="startdate" required />
    </div>
    <div class="input-container">
      <p>End Date</p>
      <input type="date" [(ngModel)]="todoDetails.enddate" name="enddate" required />
    </div>
    <div class="input-container desc">
      <input type="text" [(ngModel)]="todoDetails.desc" name="desc" required placeholder="Enter Description" />
    </div>

    <!-- Ensure button is enabled based on canSubmit() -->
    <button type="submit" class="submit" [disabled]="!canSubmit()">Add Task</button>

    <div *ngIf="isFailed" class="showErr" style="color: red; font-size: 14px;">
      Task Failed to Add or Invalid Dates
    </div>
    <div *ngIf="isSuccess" class="showErr" style="color: green; font-size: 14px;">
      Task Added Successfully
    </div>

    <p class="signup-link">
      View Your Tasks
      <a href="">Click Here</a>
    </p>
  </form>
</div>
